@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --background: 40 67% 100%;
        --foreground: 40 80% 4%;
        --muted: 40 25% 89%;
        --muted-foreground: 40 5% 31%;
        --popover: 0 0% 99%;
        --popover-foreground: 40 80% 3%;
        --card: 0 0% 99%;
        --card-foreground: 40 80% 3%;
        --border: 40 15% 90%;
        --input: 40 15% 90%;
        --primary: 40 67% 52%; /* First gradient color */
        --primary-foreground: 40 67% 12%;
        --secondary: 56 94% 76%; /* Second gradient color */
        --secondary-foreground: 56 94% 16%;
        --accent: 107 88% 47%;
        --accent-foreground: 107 88% 7%;
        --destructive: 2 91% 44%;
        --destructive-foreground: 0 0% 100%;
        --ring: 40 67% 52%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 40 52% 1%;
        --foreground: 40 28% 97%;
        --muted: 40 25% 11%;
        --muted-foreground: 40 5% 69%;
        --popover: 40 52% 2%;
        --popover-foreground: 40 28% 98%;
        --card: 40 52% 2%;
        --card-foreground: 40 28% 98%;
        --border: 40 15% 15%;
        --input: 40 15% 15%;
        --primary: 40 67% 52%; /* First gradient color */
        --primary-foreground: 40 67% 12%;
        --secondary: 56 94% 76%; /* Second gradient color */
        --secondary-foreground: 56 94% 16%;
        --accent: 107 88% 47%;
        --accent-foreground: 107 88% 7%;
        --destructive: 2 91% 47%;
        --destructive-foreground: 0 0% 100%;
        --ring: 40 67% 52%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
